<% layout('./layouts/boilerPlate') %>

<div class="container text-center mt-5">
    <div class="alert alert-danger" role="alert">
      <h1 class="display-4">Oops! Something went wrong.</h1>
      <p class="lead">We're sorry, but the page you are looking for cannot be found or an unexpected error occurred.</p>
      <!-- <p><%=err.message%></p> -->
      <hr>
      <p class="mb-0">Please go back to the <a href="/products" class="text-decoration-none">homepage</a> or try again later.</p>
    </div>
    <img src="https://via.placeholder.com/500x300" class="img-fluid mt-4" alt="Error image">
  </div>